<div class="login-wrapper">
  <img class="logo" src="assets/logo/orbyt-logo.svg" alt="Orbyt Logo" />

  <orb-card class="login-card">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" orbBody>
      <h2 class="title">Iniciar sesión</h2>
<div class="login-inputs">
  <orb-text-input id="email" formControlName="email" placeholder="Correo electrónico" type="email"  class="login-input"/>
<orb-text-input id="password" formControlName="password" placeholder="Contraseña" type="password"  class="login-input"/>

<orb-button
  label="Acceder"
  type="submit"
  severity="info"
  class="login-button"
  (click)="onSubmit()"
/>
</div>
      

      <div class="or-separator">O</div>

      <div class="social-buttons">
        <button class="social facebook">
          <i class="pi pi-facebook"></i> Iniciar con Facebook
        </button>
        <button class="social google">
          <i class="pi pi-google"></i> Iniciar con Google
        </button>
      </div>
    </form>
  </orb-card>
</div>
