<div class="login-wrapper">
  <img class="logo" src="assets/logo/orbyt-logo.svg" alt="Orbyt Logo" />

  <orb-card class="login-card">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" orbBody>
      <h2 class="title">Iniciar sesión</h2>
      <p class="subtitle">Usa tu cuenta de Orbyt</p>

      <div class="login-inputs">
        <orb-text-input
          id="email"
          formControlName="email"
          placeholder="Correo electrónico"
          type="email"
          class="login-input"
        />
        <orb-text-input
          id="password"
          formControlName="password"
          placeholder="Contraseña"
          type="password"
          class="login-input"
        />
      </div>

      <p-message *ngIf="authStore.error$ | async as error" severity="error" [text]="error"></p-message>

      <div class="actions">
        <a href="#" class="forgot-password">¿Has olvidado tu contraseña?</a>
        <orb-button
          label="Acceder"
          type="submit"
          severity="info"
          class="login-button"
          [loading]="(authStore.loading$ | async) || false"
          (click)="onSubmit()"
        />
      </div>
    </form>
  </orb-card>
</div>
