<orb-scrollpanel [style]="{ width: '100%', height: '100vh' }">
    <div class="d-flex flex-column justify-content-center align-items-center p-4">
      <orb-card class="w-100 max-w-sm shadow">
        <div orbHeader>
          <h2 class="text-center">Orbyt</h2>
        </div>
        <orb-text-input [label]="'Email'" />
        <orb-text-input  [label]="'Contraseña'" type="password" />
        <orb-button type="submit" label="Entrar" class="w-100 mt-3" />
        <form [formGroup]="form" (ngSubmit)="onSubmit()" orbBody>
     
        </form>
      </orb-card>
    </div>
  <orb-text-input [label]="'Email'" />
    <orb-button type="button" [label]="'toggle'" [rounded]="true" [serverity]="'info'" (click)="toggleTheme()" class="w-100 mt-3" />
  </orb-scrollpanel>
  