// src/app/shared/components/orb-form-footer/orb-form-footer.component.scss
// :host {
//   display: block; // Asegura que el componente ocupe su espacio.
// }

 .orb-form-footer-actions {
    display: flex;
    align-items: end;
     &.justify-content-end{
        justify-content: end;
    }
//   // El `mt-4` también está en el template.
    &.justify-content-start{
        justify-content: start;
    }
        &.justify-content-center{
        justify-content: center;
    }
       
//justify-content: end;


//   // Si necesitas más control sobre el espaciado o el layout que no se pueda
//   // lograr con clases de utilidad, puedes añadirlo aquí.
//   // El 'gap' ya está aplicado con `gap-2` en el template.


orb-button{
padding-right   : 4px;
}
}