<div  [ngClass]="alignmentClass">
  @for (button of buttons; track button.action) {
    <orb-button
      [type]="button.buttonType ?? 'button'"
      [label]="button.label"
      [severity]="getButtonSeverity(button)"
      [variant]="getButtonVariant(button)"
      [icon]="button.icon ?? ''"
      [loading]="button.loading || false"
      [disabled]="button.disabled || false"
      (click)="onButtonClick(button.action)"
      [pTooltip]="button.tooltip"
      [tooltipPosition]="button.tooltipPosition"
    ></orb-button>
  }
</div>