.orb-sidebar {
  width: 250px;
  height: 100vh;
  background: var(--p-surface-card);
  border-right: 1px solid var(--p-border-color);
  padding: 0.5rem 5px;

  // Ocultar en móviles (lo muestra orb-topbar con menú hamb.)
  @media (max-width: 1023px) {
    display: none;
  }

  ::ng-deep .p-panelmenu {
    gap: 1px;
    border: none;
    .p-menuitem-link {
      padding: 0.75rem 1rem;
    }
    .pi {
      font-size: 1rem;
      margin-right: 0.5rem;
    }
  }
}
