<!-- Breadcrumb superior -->
<orb-breadcrumb [items]="breadcrumbItems"></orb-breadcrumb>

<orb-toolbar>
  <div body></div>
  <div footer>
    <orb-button label="Nuevo Producto" (click)="showProductForm()" />
  </div>
</orb-toolbar>

<orb-card>
  <div class="grid" orbBody>
    <orb-table
      [value]="(products$ | async) || []"
      [columns]="tableColumns"
      [loading]="(isLoading$ | async) || false"
      [totalRecords]="(products$ | async)?.length || 0"
      [rows]="tableRows()"
      [first]="tableFirst()"
      [tableFeatures]="tableFeaturesConfig"
      [globalFilterFields]="['name', 'description']"
      [rowActions]="productRowActions"
      [tableHeaderActions]="productTableHeaderActions"
      dataKey="id"
      paginatorPosition="both"
      [rowsPerPageOptions]="[15, 30, 50]"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} productos"
    >
      <ng-template pTemplate="body" let-product let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            <ng-container [ngSwitch]="col.field">
              
              <ng-container *ngSwitchCase="'currentPrice'">
                {{ product.currentPrice | currency:'EUR' }}
              </ng-container>

              <ng-container *ngSwitchCase="'actions'">
                <orb-actions-popover
                  [actions]="productRowActions"
                  [itemData]="product">
                </orb-actions-popover>
              </ng-container>

              <ng-container *ngSwitchDefault>
                {{ product[col.field] }}
              </ng-container>
              
            </ng-container>
          </td>
        </tr>
      </ng-template>
    </orb-table>
  </div>
</orb-card>

<orb-dialog
  [visible]="displayProductModal()"
  [header]="isEditMode() ? 'Editar Producto' : 'Nuevo Producto'"
  size="sm"
  (onHide)="onCancelForm()"
>
  @if (displayProductModal()) {
    <orb-product-form
      [product]="productToEdit() ?? undefined"
      (saved)="onSavedForm()"
      (cancel)="onCancelForm()"
    >
    </orb-product-form>
  }
</orb-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
