$font-family: 'Inter', sans-serif;
// Colores principales
$color-primary: #4fc1e9;
$color-primary-dark: #1a374d;
$color-success: #34d399;
$color-warning: #facc15;
$color-danger: #f87171;

// Grises
$color-gray-100: #f3f4f6;
$color-gray-800: #1f2937;

// Fuentes
$font-family: 'Inter', sans-serif;

// Border radius y espaciado
$padding-base: 1rem;
$border-radius: 8px



