:host {
  display: block;
  
  .border-radius {
    border-radius: 0.5rem;
  }
  
  .bg-blue-50 {
    background-color: #eff6ff;
  }
  
  .border-blue-200 {
    border-color: #bfdbfe;
  }
  
  .text-blue-600 {
    color: #2563eb;
  }
  
  .text-blue-700 {
    color: #1d4ed8;
  }
  
  .text-blue-800 {
    color: #1e40af;
  }
}

:host ::ng-deep {
  .p-inputnumber {
    width: 100%;
    
    .p-inputnumber-input {
      text-align: center;
      width: 100%;
    }
  }
}