<form [formGroup]="agendaForm" (ngSubmit)="onSubmit()">
  <div class="p-fluid grid">
    <div class="col-12">
      <orb-form-field label="Título">
        <orb-text-input formControlName="title"></orb-text-input>
      </orb-form-field>
    </div>
    <div class="col-12">
      <orb-form-field label="Notas">
        <orb-text-area formControlName="description" [rows]="3"></orb-text-area>
      </orb-form-field>
    </div>
    <div class="col-12 md:col-6">
      <orb-form-field label="Fecha y Hora de Inicio">
        <orb-datepicker 
          formControlName="startDateTime"
          mode="datetime"
          [showIcon]="true"
          (ngModelChange)="onDateTimeChange()"
        ></orb-datepicker>
      </orb-form-field>
    </div>
    <div class="col-12 md:col-6">
      <orb-form-field label="Fecha y Hora de Fin">
        <orb-datepicker 
          formControlName="endDateTime"
          mode="datetime"
          [showIcon]="true"
          (ngModelChange)="onDateTimeChange()"
        ></orb-datepicker>
      </orb-form-field>
    </div>
    
    <!-- Mensaje de disponibilidad de turnos -->
    <div class="col-12" *ngIf="availabilityMessage">
      <p-message 
        [severity]="availabilityMessage.severity"
        [text]="availabilityMessage.text"
        [closable]="true"
        (onClose)="clearAvailabilityMessage()"
      ></p-message>
    </div>
    <div class="col-12 md:col-6">
      <orb-form-field label="Cliente" >
        <orb-select
          formControlName="clientId"
          [options]="(clients$ | async) || []"
          optionLabel="fullname"
          optionValue="id"
          [filter]="true"
          filterBy="fullname"
        ></orb-select>
      </orb-form-field>
    </div>
    <div class="col-12 md:col-6">
      <orb-form-field label="Profesional" >
        <orb-select
          formControlName="professionalId"
          [options]="(professionals$ | async) || []"
          optionLabel="fullName"
          optionValue="id"
          [filter]="true"
          filterBy="fullName"
        ></orb-select>
      </orb-form-field>
    </div>
    <div class="col-12 md:col-6">
      <orb-form-field label="Servicio" >
        <orb-select
          formControlName="serviceId"
          [options]="(services$ | async) || []"
          optionLabel="name"
          optionValue="id"
        ></orb-select>
      </orb-form-field>
    </div>
    <div class="col-12 md:col-6">
      <orb-form-field label="Sala" >
        <orb-select
          formControlName="roomId"
          [options]="(rooms$ | async) || []"
          optionLabel="name"
          optionValue="id"
        ></orb-select>
      </orb-form-field>
    </div>
  </div>

  <div class="flex justify-between mt-4">
    <div>
      <orb-button
        *ngIf="appointment"
        label="Eliminar"
        icon="pi pi-trash"
        styleClass="p-button-danger"
        (click)="onDelete()"
      ></orb-button>
    </div>
    <div class="flex gap-2">
      <orb-button
        label="Cancelar"
        styleClass="p-button-secondary"
        (click)="onCancel()"
      ></orb-button>
      <orb-button
        label="Guardar"
        type="submit"
        [loading]="(agendaStore.loading$ | async) || false"
        [disabled]="agendaForm.invalid"
      ></orb-button>
    </div>
  </div>
</form>
