
.text-red{
    color: red;
}

text-green{
    color: green;
}

.header-profile{
padding: 8px;
    
}
.permissions-list {
  list-style-type: none;
  padding: 8px;
  margin: 0;
}

.roles-list {
  list-style-type: none;
  padding: 8px;
  margin: 0;
}

.card-profile{
    padding: 8px;
}
