<ng-container *ngIf="{ user: user$ | async, loading: loading$ | async, initials: userInitials$ | async } as data">
  <div *ngIf="data.loading && !data.user" class="text-center p-4">
    <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
    <p>Cargando perfil...</p>
  </div>

  <div *ngIf="data.user as user" class="profile-page">
    <div class="grid">
      <div class="col-12 md:col-5 lg:col-4 card-profile">
        <orb-card>
          <div orbHeader class="text-center p-4 header-profile">
            <p-avatar [label]="data.initials || 'U'" styleClass="p-avatar-xl" shape="circle"></p-avatar>
            <h3 class="mt-3 mb-1">{{ user.name }} {{ user.lastName }}</h3>
            <p class="mt-0 text-color-secondary">{{ user.email }}</p>
            <p-tag [value]="user.isActive ? 'Activo' : 'Inactivo'" [severity]="user.isActive ? 'success' : 'danger'"></p-tag>
          </div>
          <div orbBody class="p-4">
            <p-fieldset legend="Roles y Permisos" [toggleable]="true">
              <strong>Roles:</strong>
              <div class="flex flex-wrap gap-2 roles-list">
                <p-chip *ngFor="let role of user.roles" [label]="role.name" icon="pi pi-shield"></p-chip>
              </div>
              <strong>Permisos:</strong>
              <ul class="permissions-list">
                 <li class=" flex align-items-center py-1">
                    <i class="pi" [ngClass]="{'pi-check text-green': user.canManageAgenda, 'pi-times text-red': !user.canManageAgenda}"></i>
                    <span class="ml-2">Gestionar Agenda</span>
                 </li>
                 <li class="flex align-items-center py-1">
                    <i class="pi" [ngClass]="{'pi-check text-green': user.canManageClients, 'pi-times text-red': !user.canManageClients}"></i>
                    <span class="ml-2">Gestionar Clientes</span>
                 </li>
                 <li class="flex align-items-center py-1">
                    <i class="pi" [ngClass]="{'pi-check text-green': user.canManageProducts, 'pi-times text-red': !user.canManageProducts}"></i>
                    <span class="ml-2">Gestionar Productos</span>
                 </li>
                 <li class="flex align-items-center py-1">
                    <i class="pi" [ngClass]="{'pi-check text-green': user.canManageUsers, 'pi-times text-red': !user.canManageUsers}"></i>
                    <span class="ml-2">Gestionar Usuarios</span>
                 </li>
              </ul>
            </p-fieldset>
          </div>
        </orb-card>
      </div>

      <div class="col-12 md:col-7 lg:col-8 card-profile" >
        <orb-card >
          <div orbHeader class="p-4 border-bottom-1 surface-border">
            <h3 class="m-0">Editar Información</h3>
          </div>
          <div orbBody class="p-4">
            <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
              <div class="grid formgrid">
                <div class="field col-12 md:col-6">
                  <orb-form-field label="Nombre">
                    <orb-text-input formControlName="name" inputId="name"></orb-text-input>
                  </orb-form-field>
                </div>
                <div class="field col-12 md:col-6">
                  <orb-form-field label="Apellidos">
                    <orb-text-input formControlName="lastName" inputId="lastName"></orb-text-input>
                  </orb-form-field>
                </div>
                <div class="field col-12">
                   <orb-form-field label="Email">
                    <orb-text-input formControlName="email" inputId="email" type="email"></orb-text-input>
                  </orb-form-field>
                </div>
              </div>
              <div class="flex justify-content-end mt-4">
                <orb-button type="submit" label="Guardar Cambios" icon="pi pi-check" ></orb-button>
              </div>
            </form>
          </div>
        </orb-card>
      </div>
    </div>
  </div>
</ng-container>
