<form [formGroup]="form" class="p-fluid">
    <orb-form-field label="SKU" [required]="true">
      <input pInputText formControlName="sku" />
    </orb-form-field>
  
    <orb-form-field label="Nombre" [required]="true">
      <input pInputText formControlName="name" />
    </orb-form-field>
  
    <orb-form-field label="Stock" [required]="true">
      <input pInputText type="number" formControlName="stock" />
    </orb-form-field>
  
    <orb-form-field label="Precio" [required]="true">
      <input pInputText type="number" formControlName="price" />
    </orb-form-field>
  
    <div class="flex justify-end footer">
      <orb-button [severity]="'secondary'"  label="Cancelar" class="p-button-text" (click)="cancelForm()"/>
      <orb-button [severity]="'info'" label="Guardar" icon="pi pi-check" [disabled]="form.invalid" (click)="accept()"/>
    </div>
  </form>
  