<form [formGroup]="form" class="p-fluid">
    <orb-form-field label="SKU" [required]="true">
      <input pInputText formControlName="sku" />
    </orb-form-field>
  
    <orb-form-field label="Nombre" [required]="true">
      <input pInputText formControlName="name" />
    </orb-form-field>
  
    <orb-form-field label="Stock" [required]="true">
      <input pInputText type="number" formControlName="stock" />
    </orb-form-field>
  
    <orb-form-field label="Precio" [required]="true">
      <input pInputText type="number" formControlName="price" />
    </orb-form-field>
  
<orb-form-footer
    [buttons]="footerActions"
    alignment="right" (actionClicked)="handleFooterAction($event)"
  ></orb-form-footer>

  </form>
  